# General.
alias ll='ls -l --color'
alias lla='ls -la --color'

# Git.
alias gs='git status'
alias gl='git log'
alias glo='git log --oneline'

alias ga='git add'

alias gd='git diff'

# Python
alias pip='pip3'
alias python='python3'

